.row1 {
	width: 100%;
	background-image: url("../images/bg-row1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 5% 0px 0px 0px !important;
}

.row1 img {
	box-shadow: 1px 1px 1px 1px gray;
	margin: 0px !important;
	padding: 0px !important;
}


@media (max-width: 768px) {
	.row1 img {
		/*max-width: 300px;*/
		margin-left: 1% !important;
	}
}

.row1 h1, .row1 p {
	font-weight: bold;
	color: #006837 !important;
	text-align: right;
	text-shadow: 0.5px 0.5px green;
}

@media (min-width: 768px) {
	.r2r3 {
		width: 70% !important;
	}
}

.row2 {
	text-align: left !important;
	padding: 15px 15px 5px 15px;
}

.row2 img {
	float: right;
}

.row2 img, .row3 img {
	min-width: 200px !important;
	max-width: 350px !important;
}

.row2 p {
	margin-bottom: 20px;
}

.row3 {
	text-align: right !important;
	padding: 10px 15px 30px 15px;
}

.row4 {
	margin-top: 10px;
	background-color: #55CAC4 !important;
	padding-bottom: 10px;
}

.row4, .row7 .gx-info {
	background-color: lightblue;
	color: white;
	margin: 10px 0px 10px 0px;
}

.row5 {
	margin: 20px 0px 20px 0px;
}

.row5 .members-info{
	margin: 10px 0px 10px 0px;
}

.row5 .members-info p {
	font-size: 13px;
}

.row6 {
	color: white;
	margin:20px 0px 20px 0px;
}

.row6 p {margin: 0px 10%;}

.row7 {color: white;}

.row7 img {
	/*position: absolute;*/
	margin-top: -60px;
	z-index: 99 !important;
}

.row8 {
	margin:20px 0px 20px 0px;
}

.row8 img {
	width: 20%;
	min-width: 150px;
}

.row9 {
	margin:20px 0px 20px 0px;
	position: relative;
}

.row10 h4 {
	min-height: 50px;
}

.row10 .members-info p {
	font-size: 10px !important;
}

.row11 {
	border: 1px solid lightgray;
	padding-bottom: 25px;
}

@media (min-width: 768px) {
	.row11 {
		width:80%;
	}
}

.row12 {
	background-color: #66BB6A !important;
	color: white;
	width: 60%;
	min-width: 200px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.row12 h3 {
	margin-top: 30px;
}

.row12 button {
	margin: 10px 3% 20px 3%;
	padding: 3px 15px 3px 15px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(135,135,135,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(135,135,135,1);
	box-shadow: 1px 1px 5px 0px rgba(135,135,135,1);
}

.row13 {
	background-image: url("../images/bg-row13.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	margin: 10px 0px 10px 0px;
	min-height: 150px;
}

.box{
 	min-height: 100px;
 	position: relative;
 	/*background: black;*/
 	/*margin: 0 auto;*/
 }

 .box .bottom {
    height:0;
    border-width:0 0 70px 400px;
    border-style:solid;
    border-color:#d71f55 #d71f55 transparent;
}

.box .top {
    height: 100px;
    background-color:#d71f55;
}

.box-shadow{
	border: 1px solid #dedede;
	border-radius: 20px;
	/*box-shadow: inset;*/
	-webkit-box-shadow: 1px 1px 10px 2px rgba(222,222,222,0.99);
-moz-box-shadow: 1px 1px 10px 2px rgba(222,222,222,0.99);
box-shadow: 1px 1px 10px 2px rgba(222,222,222,0.99);
}

.block{
	min-height: 200px;
	width: 100%;
	position: relative;
	background: linear-gradient(to right, #66bb6a 0%, #66bb6a 100%);
}

.block-reverse{
	min-height: 200px;
	top: 45%;
	width: 100%;
	position: relative;
	background: linear-gradient(to right, #66bb6a 0%, #66bb6a 100%);
}

.block h2 {padding-top: 3%;
	margin-top: 0%;
}

.block-reverse h2 {padding-top: 12%;}

.hight-box{
	height: 400px;
	margin: 20px 0px 20px 0px !important;
	padding: 0px !important;
	/*width: 100%;*/
	/*position: relative;*/
	background: transparent;
}

.hight-box1{
	height: 300px;
	margin: 10px 0px 10px 0px;
	/*width: 100%;*/
	/*position: relative;*/
	background: transparent;
}

.angled-edge-img{
	position: absolute; 
	left: 25%; 
	bottom: 5%;
}

.angled-edge-img-reverse{
	position: absolute; 
	right:30%; 
	bottom: 42%;
	z-index: 99;
}

.block:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	bottom: 0;
	transform-origin: right bottom;
	transform: skewY(-10deg);
	left: 0;
}

.block-reverse:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	bottom: 0;
	transform-origin: left top;
	transform: skewY(-10deg);
	left: 0;
}
/*
.img-circle-bg{
	background: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 50%;
	padding: 10px;
}
*/
.block-medium{
	padding-top: 8%;
	min-height: 200px;
	width: 100%;
	position: relative;
	background: linear-gradient(to right, #55cac4 0%, #55cac4 100%);
	/*background: #66bb6a !important;*/
	z-index: -1;
}

.block-medium:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	bottom: 0;
	transform-origin: right bottom;
	transform: skewY(-11deg);
	left: 0;
}

.row9-box {
	height: 300px;
	background: transparent;
	color: white;
}

.book-blk1 {
	min-height: 150px;
	/*width: 100%;*/
	padding: 10px 22% 0px 4%;
	text-align: left;
	position: relative;
	background: linear-gradient(to right, #A3D268 0%, #66bb6a 100%);
}
.book-blk1:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	bottom: 0;
	transform-origin: right bottom;
	transform: skewY(-10deg);
	left: 0;
}
.book-blk2{
	min-height: 150px;
	/*width: 100%;*/
	text-align: right;
	padding: 10px 4% 0px 22%;
	position: relative;
	background: linear-gradient(to right, #94CB57 0%, #66bb6a 100%);
}
.book-blk2:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	bottom: 0;
	transform-origin: left bottom;
	transform: skewY(10deg);
	left: 0;
}

.book-img {
	position: absolute;
	z-index: 9;
	right: 42%;
	bottom: 15%;
}

@media  (max-width: 980px) {
	.book-img {right: 36%;}
}

@media (max-width: 768px) {
	.book-img {
		position: relative;
		right: unset;
		bottom: unset;
		left: 35%;
		margin: 0px !important;
	}
	.book-img img{
		margin: -20px;
	}
}