* {
	font-family: Roboto;
	font-size: 12px;
	text-align: center;
}

.nav {min-height: 100px !important;}

.navbar-brand img {
	margin-top: -15px !important;
	overflow: hidden !important;
}

p {min-height: 50px;}

.row1 {
	background-image: url("../images/bg-row1.jpg");
	margin-top: 100px;
}

.row4, .row5 .members-info, .row7 .gx-info {
	background-color: lightblue;
	color: white;
}

.row8 img {border-radius: 50%;}